# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
astronomer-cosmos
apache-airflow-providers-odbc
apache-airflow-providers-snowflake
astro-sdk-python
pyodbc==4.0.34
apache-airflow-providers-microsoft-mssql==3.6.0
